@model PosMvcFinal.Models.Admin
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>
@using (@Html.BeginForm("AdminPanel", "Pos"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassWord, "Password")
        @Html.EditorFor(m => m.PassWord, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password" }})
        
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
}

